---
layout: default
title: Welcome to Ceylon
tab: home
unique_id: homepage
author: Emmanuel Bernard
---
#core-page
  :markdown
    # #{page.title}
    Ceylon is a programming language for writing large programs in a team 
    environment. The language is elegant, highly readable, extremely typesafe, 
    and makes it easy to get things done. And it's easy to learn for 
    programmers who are familiar with mainstream languages used in business 
    computing. Ceylon has a full-featured Eclipse-based 
    [development environment](/documentation/latest/ide), allowing developers to take 
    best advantage of the powerful static type system.
    Programs written in Ceylon execute on any JVM.
    
    ## What?
    Ceylon is a general-purpose, imperative, statically-typed, block-structured, 
    object-oriented, higher-order language featuring a syntax similar to 
    Java and C#, and a type system based on the notion of *principal types*.
    
    Since 'Hello World' is the traditional way to introduce a language, 
    here's how it looks in Ceylon:
    
    <pre class="brush: ceylon">
    void hello() {
        print("Hello, World!");
    }
    </pre>
    
    To learn more, you can start with our [quick introduction](/documentation/latest/introduction) 
    or take an in-depth [tour of Ceylon](/documentation/latest/tour).
    
    ## Why?
    Ceylon is deeply influenced by Java. You see, we're fans of Java, but we know 
    its limitations inside out. Ceylon keeps the best bits of Java but improves 
    things that in our experience are annoying, tedious, frustrating, difficult
    to understand, or bugprone. Furthermore, Ceylon makes it much easier to 
    write generic code (frameworks or libraries), or to naturally describe 
    treelike structures (especially user interfaces). Of course, Java isn't 
    the only language with good ideas, so Ceylon looks for inspiration in other 
    language families, in everything from Smalltalk to ML.
    
    The design of Ceylon is guided by [five important concerns](/blog/2012/01/10/goals/)
    that serve as a kind of mission statement for the project.
    
    ## When?
    Our first milestone release, [Ceylon M1 "Newton"][M1], is already available 
    for [download][download M1]. It includes a reasonably complete and stable 
    [specification](/documentation/latest/spec) and a complete command line toolset 
    (compiler, runtime, documentation compiler). A compatible [release][M1 IDE] 
    of [Ceylon IDE](/documentation/latest/ide) is also [available][install M1 IDE].
    
    We've divided our work into [five milestones](/documentation/latest/roadmap). The 
    first milestone covered perhaps 80% of the language, along with the core 
    language module (the types mentioned in the language specification). The 
    remaining milestones cover the rest of the language, along with the basic 
    class libraries, and will incorporate any adjustments to the language that 
    we find necessary based on community feedback.

    The development team, which includes volunteers from the community and a
    number of Red Hat employees, is currently developing the second milestone 
    release. Their work is always visible in the [public GitHub repositories](/code).
    
    For more details, see the [roadmap](/documentation/latest/roadmap).
  
    [M1]: /blog/2011/12/20/ceylon-m1-newton
    [M1 IDE]: /blog/2012/01/10/ceylon-ide-m1-newton
    [download M1]: /download#command_line_tools
    [install M1 IDE]: /download#ceylon_ide

  <a href="/+" style="cursor:pointer;margin-left:auto;margin-right:auto;display:block;text-align:center;padding:50px">
  <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px;margin-top:8px;">Follow Ceylon on</span>
  <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/>
  </a>
    
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### Latest release: M1
      Ceylon M1 "Newton" is available - you can [download it now][download M1].
      
      Ceylon IDE was just released - [install it from our update site] [install M1 IDE]!

      [download M1]: /download?utm_source=news&utm_medium=web&utm_content=download&utm_campaign=latestrelease
      [install M1 IDE]: /documentation/latest/ide/install?utm_source=blog&utm_medium=web&utm_content=ide_install&utm_campaign=1_0_M1release
      
  .point-dark-bottom 
    &nbsp;
  .point-light-top 
    &nbsp;	
  .sidebar-block
    %h3 News
    - news = site.news.values.sort{|l,r| r.effective_date <=> l.effective_date}
    - for entry in news[0,5]
      .news_entry
        %h4
          - if ( entry.more_info_url )
            %a{:href=>entry.more_info_url}
              = entry.title
          - else 
            = entry.title
        .news_date
          #{entry.date}
        .news_detail
          #{entry.content}
        %hr
    :markdown
      To stay up to date, follow our [blog](/blog) ([feed](/blog/blog.atom)).
  .point-light-end 
    &nbsp;      
