---
layout: default
title: Welcome to Ceylon
tab: home
unique_id: homepage
author: Emmanuel Bernard
---
#core-page
  :markdown
    # #{page.title}
    Ceylon is a programming language for writing large programs in a team 
    environment. The language is elegant, highly readable, extremely typesafe, 
    and makes it easy to get things done. And it's easy to learn for 
    programmers who are familiar with mainstream languages used in business 
    computing. Ceylon has a full-featured Eclipse-based 
    [development environment](/documentation/ide), allowing developers to take 
    best advantage of the powerful static type system.
    Programs written in Ceylon execute on any JVM.
    
    ## What?
    Ceylon is a general-purpose, imperative, statically-typed, block-structured, 
    object-oriented, higher-order language featuring a syntax similar to 
    Java and C#, and a type system based on the notion of *principal types*.
    
    Since 'Hello World' is the traditional way to introduce a language, 
    here's how it looks in Ceylon:
    
    <pre class="brush: ceylon">
    void hello() {
        print("Hello, World!");
    }
    </pre>
    
    To learn more, you can start with our [quick introduction](/documentation/introduction) 
    or take an in-depth [tour of Ceylon](/documentation/tour).
    
    ## Why?
    Ceylon is deeply influenced by Java. You see, we're fans of Java, but we know 
    its limitations inside out. Ceylon keeps the best bits of Java but improves 
    things that in our experience are annoying, tedious, frustrating, difficult
    to understand, or bugprone. Furthermore, Ceylon makes it much easier to 
    write generic code (frameworks or libraries), or to naturally describe 
    treelike structures (especially user interfaces). Of course, Java isn't 
    the only language with good ideas, so Ceylon looks for inspiration in other 
    language families, in everything from Smalltalk to ML.
     
    ## When?
    We already released our first milestone release: [Ceylon M1 "Newton"](/download),
    which contains a reasonably complete and stable [specification](/documentation/spec), 
    a complete toolset (compiler, runtime, 
    documentation compiler, and Eclipse-based IDE) and basic class libraries. 
    We've divided the work into five milestones. The first milestone is already 
    [available for download](/download) and covers perhaps 80% of the language, 
    along with the core language module (the types mentioned in the language 
    specification). The remaining milestones cover the rest of the language, the 
    basic class libraries, and will incorporate any adjustments to the language 
    that we find necessary based on community feedback.

    The development team, which includes volunteers from the community and a
    number of Red Hat employees, is currently developing the second milestone 
    release. Their work is always visible in the [public GitHub repositories](/code).
    
    For more details, see the [roadmap](/documentation/roadmap).
  
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### Latest release: M1
      Ceylon M1 "Newton" has just been released, [download it now](/download)
  .point-dark-bottom 
    &nbsp;
  .point-light-top 
    &nbsp;	
  .sidebar-block
    %h3 News
    - news = site.news.values.sort{|l,r| r.effective_date <=> l.effective_date}
    - for entry in news
      .news_entry
        %h4
          - if ( entry.more_info_url )
            %a{:href=>entry.more_info_url}
              = entry.title
          - else 
            = entry.title
        .news_date
          #{entry.date}
        .news_detail
          #{entry.content}
        %hr
    :markdown
      To stay up to date, follow our [blog](/blog) ([feed](/blog/blog.atom)).
  .point-light-end 
    &nbsp;      
