---
layout: default
title: Welcome to Ceylon
tab: home
author: Emmanuel Bernard
---
#core-page
  :markdown
    # #{page.title}
    Ceylon is a JVM based programming language.
    
    ## What?
    Ceylon is a general-purpose, imperative, statically-typed, block-structured, 
    object-oriented, higher-order language featuring a syntax similar to 
    Java and C#.
    
    Since 'Hello World' is the traditional way of introducing a language, 
    here's how it looks in Ceylon:
    
    <pre class="brush: ceylon">
    void hello() {
        print("Hello, World!");
    }
    </pre>
    
    To see more, take a look at our [quick introduction](/documentation/introduction) 
    or take a more in depth [tour of Ceylon](/documentation/tour).
    
    ## Why?
    Ceylon is deeply influenced by Java and designed by people who are 
    unapologetic fans of Java. It keeps the best bits from Java but 
    improves those aspects that experience has shown to to be annoying, 
    tedious and frustrating.
  
    ## When?
    The language exists as a specification that is pretty stable. Our plan
    is to deliver a usable toolset (compiler, app launcher, documentation generator
    and Eclipse based IDE).
    Our first milestone (out of three) should cover 80% of the language feature and is expected 
    very soon. The next two milestones will complete this work and adjust the language based on
    the community feedback.

    Currently the development is done by a restricted community of contributors,
    but once we have reach our first milestone, our work will be fully open sourced.
    
    For more details, see the [roadmap](/documentation/roadmap).
  
#sidebar
  .sidebar-block
    :markdown  
      ### Latest release: no release
      Ceylon has not yet been released, [check out our roadmap](/documentation/roadmap)
  .sidebar-block
    %h3 News
    - news = site.news.values.sort{|l,r| r.effective_date <=> l.effective_date}
    - for entry in news
      .news_entry
        %h4
          - if ( entry.more_info_url )
            %a{:href=>entry.more_info_url}
              = entry.title
          - else 
            = entry.title
        .news_date
          #{entry.date}
        .news_detail
          #{entry.content}
        %hr
      
