#header
  #header-logo
    %h1
      Ceylon
  #header-tagline
    %p
      A novel programming language
  #menu
    %ul#menu-core
      - idname = page.tab == "home" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/' } Home
      - idname = page.tab == "news" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/news' } News
      - idname = page.tab == "downloads" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/downloads' } Downloads
      - idname = page.tab == "documentation" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/documentation' } Documentation
      - idname = page.tab == "faq" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/faq' } FAQ
      - idname = page.tab == "community" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/community' } Community
      - idname = page.tab == "development" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/development' } Development
      - idname = page.tab == "license" ? "selected" : "notselected"
      %li{ :id=>"#{idname}" }
        %a{ :href=>'/license' } License