---
layout: default
tab: to-be-defined
---
#post-navigation
  .post-navigation
    #post-nav-previous
      .previous
        - if page.previous_post
          .label
            previous post
          .nav-link
            %a{:href => page.previous_post.url}= page.previous_post.title
    #post-nav-next
      .next
        - if page.next_post
          .label
            next post
          .nav-link
            %a{:href => page.next_post.url}= page.next_post.title
.post
  %h1.title 
    #{page.title}
  .byline
    .author
      by
      = page.author
    .date
      = page.date.strftime('%d %b %Y')
    .tags
      - page.tags.each do |tag|
        %a{:href=>tag.primary_page.url}
          = tag
  .body
    ~ content
