---
layout: base
tab: to-be-defined
---
.header-bar
  //cannot use a partial as it loses the page.tab context :(
  #header
    %a#header-logo{:href=>'/'}
      %h1
        Ceylon
    #header-tagline
      %p
        Say more, more clearly
    #menu
      %ul#menu-core
        - idname = page.tab == "home" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/' } Home
        - idname = page.tab == "documentation" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/documentation/latest' } Learn
        - idname = page.tab == "download" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/download' } Download
        - idname = page.tab == "community" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/community' } Community
        - idname = page.tab == "code" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/code' } Code
        - idname = page.tab == "blog" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/blog' } Blog
.banner
  &nbsp;
#primary-content
  ~ content
.footer-bar
  = partial( 'footer.html.haml' )