---
layout: base
tab: to-be-defined
---
.header-bar
  //cannot use a partial as it loses the page.tab context :(
  #header
    %a#header-logo{:href=>'/'}
      %h1
        Ceylon
    #header-tagline
      %p
        Say more, more clearly
    #menu
      %ul#menu-core
        - idname = page.tab == "home" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/' } 
            %i{:class=>'fa fa-home'}
            HOME
        - idname = page.tab == "documentation" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/documentation/current' } 
            %i{:class=>'fa fa-university'}
            LEARN
        - idname = page.tab == "download" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/download' } 
            %i{:class=>'fa fa-download'}
            DOWNLOAD
        - idname = page.tab == "community" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/community' } 
            %i{:class=>'fa fa-users'}
            COMMUNITY
        - idname = page.tab == "code" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/code' } 
            %i{:class=>'fa fa-code-fork'}
            CODE
        - idname = page.tab == "blog" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/blog' } 
            %i{:class=>'fa fa-rss'}
            BLOG
#primary-content
  ~ content
.footer-bar
  = partial( 'footer.html.haml' )
