---
layout: base
tab: to-be-defined
---
.header-bar
  //cannot use a partial as it loses the page.tab context :(
  #header
    #header-logo
      %h1
        Ceylon
    #header-tagline
      %p
        A novel programming language
    #menu
      %ul#menu-core
        - idname = page.tab == "home" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/' } Home
        - idname = page.tab == "tour" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/tour' } Tour
        - idname = page.tab == "documentation" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/documentation' } Documentation
        - idname = page.tab == "downloads" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/downloads' } Downloads
        - idname = page.tab == "community" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/community' } Community
        - idname = page.tab == "blog" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/blog' } Blog
#primary-content
  #core-page
    ~ content
  #sidebar
    #release
      :markdown
        ### Latest release: no latest release
        
        Ceylon has not yet been released but we hope to get it out 
        as soon as possible.
    #twitter
      :markdown
        ### Twitter news
        \#ceylon is interesting - @emmanuelbernard
.footer-bar
  = partial( 'footer.html.haml' )