---
layout: base
tab: to-be-defined
---
.header-bar
  //cannot use a partial as it loses the page.tab context :(
  #header
    %a#header-logo{:href=>'/'}
      %h1
        Ceylon
    #header-tagline
      %p
        Say more, more clearly
    #menu
      %ul#menu-core
        - idname = page.tab == "home" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/' } HOME
        - idname = page.tab == "documentation" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/documentation/current' } LEARN
        - idname = page.tab == "download" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/download' } DOWNLOAD
        - idname = page.tab == "community" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/community' } COMMUNITY
        - idname = page.tab == "code" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/code' } CODE
        - idname = page.tab == "blog" ? "selected" : "notselected"
        %li{ :id=>"#{idname}" }
          %a{ :href=>'/blog' } BLOG
#banner
  #elephant
    &nbsp;
  #text
    Static types that just work.
  #code
    <!-- lang: none -->
    %pre{ 'data-language'=>'ceylon' }
      %code.rainbow
        :preserve
          <span class="entity class">Html</span> <span class="variable global">html</span> = <span class="entity class">Html</span> {
             <span class="variable global">doctype</span> = <span class="variable global">html5</span>;
             <span class="entity class">Head</span> { <span class="variable global">title</span> = <span class="string">"Ceylon Community"</span>; };
             <span class="entity class">Body</span> {
                <span class="entity class">H2</span> ( <span class="string">"Welcome &#96;&#96;</span><span class="code_interpolated variable global">you</span><span class="string">&#96;&#96;, to Ceylon &#96;&#96;</span><span class="code_interpolated variable global">language</span>.<span class="code_interpolated variable instance">version</span><span class="string">&#96;&#96;!"</span> ),
                <span class="entity class">P</span> ( <span class="string">"Now get your code on :)"</span> )
             };
          };
#primary-content
  ~ content
.footer-bar
  = partial( 'footer.html.haml' )
