---
layout: default
tab: to-be-defined
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.0/introduction)
      ### [Tour of Ceylon](/documentation/1.0/tour)
      ### [Reference](/documentation/1.0/reference)

      * [Language Specification](/documentation/1.0/spec)
      * [Structure](/documentation/1.0/reference/#structure)
      * [Types](/documentation/1.0/reference/#types)
      * [Statements](/documentation/1.0/reference/#statements)
      * [Expressions](/documentation/1.0/reference/#expressions)
      * [Operators](/documentation/1.0/reference/#operators)
      * [Literals](/documentation/1.0/reference/#literals)
      * [Language Module (API)](/documentation/1.0/reference/#language_module_ceylonlanguage)
      * [Tools](/documentation/1.0/reference/#tools)
      * [Interoperability](/documentation/1.0/reference/#interoperability)
      * [Other](/documentation/1.0/reference/#other)
      
      ### [FAQs](/documentation/1.0/faq)
      ### [Roadmap](/documentation/1.0/roadmap)
      ### [Ceylon IDE](/documentation/1.0/ide)
  .point-dark-end 
    &nbsp;
#core-page
  - if ["Milestone 1"].index(page.milestone)
    .milestone.check
      :markdown
        [#{page.milestone}](/documentation/1.0/roadmap/##{page.milestone.anchorize({:convert_spaces=>true})} "Support for this feature was introduced in #{page.milestone}")
  - if ["Milestone 2", "Milestone 3", "Milestone 4"].index(page.milestone)
    .milestone.future
      :markdown
        [#{page.milestone}](/documentation/1.0/roadmap/##{page.milestone.anchorize({:convert_spaces=>true})} "Support for this feature will be introduced in #{page.milestone}")
  - if ["Milestone 5"].index(page.milestone)
    .milestone.future
      :markdown
        [Ceylon 1.0](/documentation/1.0/roadmap/#milestone_5_ceylon_10 "Support for this feature will be introduced in Ceylon 1.0")
  - if ["Later"].index(page.milestone)
    .milestone.future
      :markdown
        [Ceylon 1.1 or later](/documentation/1.0/roadmap/#ceylon_11_or_later "Support for this feature will be introduced in Ceylon 1.1 or later")
  ~ content