---
layout: default
tab: to-be-defined
---
#core-page
  - if ["Milestone 1"].index(page.milestone)
    .milestone.check
      :markdown
        [#{page.milestone}](/documentation/roadmap/##{page.milestone.anchorize({:convert_spaces=>true})} "Support for this feature was introduced in #{page.milestone}")
  - if ["Milestone 2", "Milestone 3"].index(page.milestone)
    .milestone.future
      :markdown
        [#{page.milestone}](/documentation/roadmap/##{page.milestone.anchorize({:convert_spaces=>true})} "Support for this feature will be introduced in #{page.milestone}")
  ~ content
#sidebar
  .sidebar-block
    :markdown  
      ### [Quick introduction](/documentation/introduction)
      ### [Tour of Ceylon](/documentation/tour)
      ### [Reference](/documentation/reference)
      
      * [Structure](/documentation/reference/#structure)
      * [Types](/documentation/reference/#types)
      * [Statements](/documentation/reference/#statements)
      * [Expressions](/documentation/reference/#expressions)
      * [Operators](/documentation/reference/#operators)
      * [Literals](/documentation/reference/#literals)
      * [Language Module](/documentation/reference/#language_module_ceylonlanguage)
      * [Tools](/documentation/reference/#tools)
      * [Interoperability](/documentation/reference/#interoperability)
      * [Other](/documentation/reference/#other)
      
      ### [Language Specification](/documentation/spec)
      ### [API documentation](#{site.urls.apidoc})
      ### [FAQs](/documentation/faq)
      ### [Roadmap](/documentation/roadmap)
