---
layout: default
tab: to-be-defined
toc: true
gh_editable: true
priority: 0.95
change_frequency: monthly
---
#sidebar
  .point-dark-top 
    &nbsp;
  .sidebar-dark
    :markdown  
      ### [Quick introduction](/documentation/1.2/introduction)
      ### [Tour of Ceylon](/documentation/1.2/tour)
      ### [Ceylon Walkthrough](/documentation/1.2/walkthrough)
      ### [Examples](/documentation/1.2/examples)
      <!--  ### [Tutorial Videos](/documentation/1.2/videos) -->
      ### [Language specification](/documentation/1.2/spec)
      ### [Reference](/documentation/1.2/reference)
      #{page.table_of_contents}      
      ### [Language module API](#{site.urls.apidoc_1_2}/index.html)  
      ### [FAQs](/documentation/1.2/faq)
      ### [Roadmap](/documentation/1.2/roadmap)
      ### [Ceylon IDE](/documentation/1.2/ide)
  .point-dark-end 
    &nbsp;
#banner
  #text
    Reference
#core-page
  %h4 
    Note: information on this page refers to Ceylon 1.2, not to the 
    %a{:href=>'/documentation/current'} current release.
  - page.source_path_rel = Pathname.new(page.source_path).relative_path_from(site.dir)
  - page.view_source_url = "https://github.com/eclipse/ceylon-lang.org/blob/master/#{page.source_path_rel}"
  - page.edit_source_url = "https://github.com/eclipse/ceylon-lang.org/edit/master/#{page.source_path_rel}"
  .gh-edit
    %a{ :href => page.view_source_url }
      View source 
    - if page.gh_editable
      |
      %a{ :href => page.edit_source_url}
        Edit
  - if ["Milestone 1", "Milestone 2", "Milestone 3", "Milestone 4", "Milestone 4"].index(page.milestone)
    .milestone.check
      :markdown
        [#{page.milestone}](/documentation/1.1/roadmap/##{page.milestone.anchorize({:convert_spaces=>true})}_done "Support for this feature was introduced in #{page.milestone}")
  - if ["Milestone 6"].index(page.milestone)
    .milestone.future
      :markdown
        [Ceylon 1.1](/documentation/1.1/roadmap/#milestone_6_ceylon_10 "Support for this feature will be introduced in Ceylon 1.1")
  - if ["Later"].index(page.milestone)
    .milestone.future
      :markdown
        [Not yet implemented](/documentation/1.1/roadmap/#ceylon_11_or_later "Support for this feature will be introduced in Ceylon 1.1 or later")
  ~ content
